.input-group-text{
    background: transparent;
}
input{
  height: 100%;
}
.input-group{
  width: 330px;
  height: 48px;
  line-height: 48px;
}
.custom-shadow{
    box-shadow: 0px 0px 6px #00000029;

}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
    border: 1px solid #ced4da;
}
.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #000000;
  }
  
  .svg-icon circle {
    stroke: #000000;
    stroke-width: 1;
  }