.accept-btn, .decline-btn{
    text-align: center;
    line-height: 49px;
    margin-top: 5px;
    max-width: 130px;
    margin-right: 0px!important;
}
.lighter-text{
    color: #C1C1C1;
}
.payment-text{
    text-align: right;
    font-size: 24px;
    color: #5FD65F;
}
.accept-btn{
    background: #5FD65F 0% 0% no-repeat padding-box;
    border-radius: 14px;
    color: #fff;
}
.decline-btn{
    background: #FF6E6E 0% 0% no-repeat padding-box;
    border-radius: 14px;
    color: #fff;
}
.images{
    width: 143px;
    height: 134px;
    border-radius: 11px;
}
.prev-icon, .next-icon{
    z-index: 1;
    top: calc(50% - 20px);
}
.prev-icon .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect,.next-icon .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect{
      fill: #fff;
  }
.prev-icon{
    left: 10px;
}
.next-icon{
    right: 10px;
}
.images img{
    width: 100%;
    height: 100%;
    border-radius: 11px;

}
svg{
    height: 15px;
    width: 15px;
}

.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #C1C1C1;
  }
  
  .svg-icon circle {
    stroke: #C1C1C1;
    stroke-width: 1;
  }

.cost-div{
    color: #556BE7;
}