#media-paginate div{
    float: left;
    margin-left: 10px;
    line-height: 34px;
}
.page-lists{
    margin-top: 5px;
}
.page-selected{
    background: #556BE7 0% 0% no-repeat padding-box;
    color: #ffffff;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    text-align: center;
}
.disabled{
    pointer-events: none;
}